@page "/admin/"

@using HSBGHelper.Server.Models;
@using AntDesign.Icons;

@rendermode InteractiveWebAssembly

@inject AuthProvider AuthStateProvider
@inject NavigationManager NavigationManager

@code {

}

<section>
    <header class="hero">
        <h2 class="text-3xl">Admin</h2>
    </header>
</section>

<section>
    <div class="container mx-auto">
        <h2>Login</h2>
        <input class="w-full" type="text" id="user_name" placeholder="Username" />
        <input type="password" id="password" class="w-full" />
    </div>
</section>

<section>
    <nav class="container mx-auto">
        <ul class="p-4 grid grid-cols-1 md:grid-cols-2">
            <li>
                <a class="btn btn-secondary mb-4" href="/admin/edit-heroes">
                    <span>Edit Heroes</span> <RightOutlined />
                </a>
            </li>
            <li>
                <a class="btn btn-secondary mb-4" href="/admin/edit-trinkets">
                    <span>Edit Trinkets</span> <RightOutlined />
                </a>
            </li>
            <li>
                <a class="btn btn-secondary mb-4" href="/admin/edit-minions">
                    <span>Edit Minions</span> <RightOutlined />
                </a>
            </li>
            <li>
                <a class="btn btn-secondary mb-4" href="/admin/edit-spells">
                    <span>Edit Spells</span> <RightOutlined />
                </a>
            </li>
        </ul>
    </nav>
</section>