@page "/dashboard";

<section>
    <header class="hero">
        <h1 class="text-2xl">Dashboard</h1>
    </header>
</section>
<section>
    <a href="/admin/edit-heroes">Edit Heroes</a>
</section>
@code {

}
