@page "/compositions/undead-attack-scaling"

<section>
    <header class="hero">    
        <h3 class="text-2xl">Undead - Attack Scaling</h3>
    </header>
</section>
<section>
    <div class="container mx-auto">
        <p class="text-center pb-4">Coming soon..</p>
    </div>
</section>
