@page "/compositions/mooneater";

@using HSBGHelper.Client.Components;
@using HSBGHelper.Server.Models;

<section>
    <header class="hero">    
        @* <h3 class="text-3xl">@composition.Name</h3>
        <Difficulty difficulty="@composition.Difficulty" /> *@
    </header>
</section>


@code {
    @* public Composition composition = new Composition { 
        Tier = "S-Tier", 
        Name = "Mooneater", 
        Difficulty = "Medium", 
        Link = "/compositions/mooneater", 
        Image = "/img/compositions/mooneater.jpg",
        mainMinion = new Minion
        {
                Image = "/img/minions/tier-5/mooneaters-champion.png"
        },
        AddOns = new List<Minion>
        {
            
        }
    }; *@
}
