@page "/get-started";

<PageTitle>HSBGHelper | Getting Started</PageTitle>

<section>
    <header class="hero">
        <h1 class="text-3xl">Get Started</h1>
    </header>
</section>
<section>
    <div>

    </div>
</section>
@code {

}
