@using Microsoft.AspNetCore.Components

@rendermode InteractiveWebAssembly

<footer>
    <nav class="container mx-auto px-4">
        <p>2024 HSBGHelper ©</p>
        <ul id="footer-items">
            <li>
                <a href="https://discord.com/invite/hDyfWExxzz">
                    JeefHS's Discord
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/%40JeefHS">
                    JeefHS's YouTube
                </a>
            </li>
        </ul>
        <a href="/privacy-policy">
            Privacy Policy
        </a>
    </nav>
</footer>