@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components

@rendermode InteractiveWebAssembly

<link href="/css/nav.css" rel="stylesheet" />

<div id="nav">
    <div id="navbar">
        <button id="nav-burger" @onclick="ToggleMenu" class="@(isMenuOpen ? "open" : "closed")">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a href="/" @onclick="CloseMenu">
            <img src="icon.svg" alt="Logo" height="48px" width="48px">
        </a>
    </div>
    <ul id="nav-list" class="@(isMenuOpen ? "open" : "closed")">
        <li>
            <NavLink href="/heroes" @onclick="CloseMenu">
                Heroes
            </NavLink>
        </li>
        @* <li>
            <NavLink href="/buddies" @onclick="CloseMenu">
                Buddies
            </NavLink>
        </li> *@
        <li>
            <NavLink href="/minions" @onclick="CloseMenu">
                Minions
            </NavLink>
        </li>
        <li>
            <NavLink href="/spells" @onclick="CloseMenu">
                Spells
            </NavLink>
        </li>
        <li>
            <NavLink href="/compositions" @onclick="CloseMenu">
                Compositions
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool isMenuOpen = false;

    private void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
    }

    private void CloseMenu()
    {
        isMenuOpen = false;
    }
}
