@using Microsoft.AspNetCore.Components;
@using HSBGHelper.Server.Models;
@using HSBGHelper.Server.Services;

@page "/buddies/{Id:int}";

@rendermode InteractiveServer

@inject NavigationManager navigationManager;
@inject BuddyService buddyService;

<section>
    <header class="hero">
        <img src="@buddy.Image" alt="@buddy.Name" class="mx-auto" />
        <h3 class="text-2xl">
            @buddy.Name
        </h3>
    </header>
</section>
<section>
    <div class="container mx-auto">
        <div class="p-4 mx-auto">
            <h2 class="text-2xl mt-4">Guide</h2>
            <hr />
            <div class="py-4">
                @if (buddy.HtmlGuide == "")
                {
                    <p>Buddy guide is not available but it is coming soon.</p>
                }
                else
                {
                    @(new MarkupString(buddy.HtmlGuide))
                }
            </div>
        </div>
    </div>
</section>
@code {
    [Parameter]
    public int Id { get; set; }

    private Buddy buddy = new Buddy();

    protected override async Task OnInitializedAsync()
    {
        buddy = await buddyService.GetBuddyById(Id);

        if (buddy == null)
        {
            navigationManager.NavigateTo("/404");
            return;
        }
    }
}