@using System;

@code {
    [Parameter]
    public String Tier { get; set; }
    public string toolTipText
    {
        get
        {
            switch (Tier)
            {
                case "S":
                    return "Top tier - Best in the game.";
                case "A":
                    return "High tier - Strong in the current meta.";
                case "B":
                    return "Mid tier - Viable in the current meta.";
                case "C":
                    return "Low tier - Weak in the current meta.";
                case "D":
                    return "Bottom tier - Very weak in the current meta.";
                case "F":
                    return "Unplayable tier - Do not pick.";
                default:
                    return "Unknown tier - No data available.";
            }
        }
        set { }
    }

    private String cssClass = "tier-badge ";

    protected override void OnInitialized()
    {
        UpdateCssClass();
    }

    protected override void OnParametersSet()
    {
        UpdateCssClass();
    }

    private void UpdateCssClass()
    {
        cssClass = "tier-badge tier-" + Tier?.ToLower();

    }
}

<i class="@cssClass">
    <span>@Tier <span class="tooltip">@toolTipText</span></span>
</i>

<style>
    .tier-badge {
        padding: 0.25rem;
        border-radius: 0.5rem;
        font-size: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @*position:absolute;top:0;left:0;right:0;z-index:0;*@cursor: help;
        position: relative;
    }
    
    .tier-badge::before {
    }
    .tier-badge::after {
    }
    .tier-badge::after {
    }
    .tier-s {
        background-color: #2196F3;
        color: white;
    }

    .tier-a {
        background-color: #4CAF50;
        color: white;
    }

    .tier-b {
        background-color: #ff9800;
        color: white;
    }

    .tier-c {
        background-color: #f44336;
        color: white;
    }

    .tier-d {
        background-color: #9e9e9e;
        color: white;
    }

    .tier-f {
        background-color: #607d8b;
        color: white;
    }

    .tooltip {
        opacity: 0;
        color: black;
        background: #bbb8b8;
        border-radius: 0.25rem;
        position: absolute;
        top: -1.5rem;
        right: 0;
        left: 0;
        text-align: center;
        transform: opacity 1s ease;
    }

    .tier-badge:hover .tooltip {
        opacity: 1.0;
    }
</style>